.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 610px;
    height: 610px;
    background-color: black;
}

.grid div {
    width: 200px;
    height: 200px;
    background-color: white;
    margin-bottom: 5px;
}

.playerX {
    background: url('cross.png') no-repeat center;
}

.playerO {
    background: url('circle.png') no-repeat center;
    /* background-repeat: no-repeat; */
}

.button-row {
    margin-bottom: 20px;
}